/.idea
/.venv
/apple.ipynb
/blinkit.ipynb
/card.ipynb
/cards2.ipynb
/cities2.ipynb
/customer_analysis.ipynb
/ipl_2008-2024_analysis.ipynb
/joins.ipynb
/Logging & Monitoring_analysis.ipynb
/manu.ipynb
/matplotlib.ipynb
/models
/pivot.ipynb
/project_management.ipynb
/README.md
/store.ipynb
/store.xlsx
/StudentPerformance.ipynb
/swiggy.ipynb
/w3School.ipynb